<h1 class="h1 text-center">Купити квитки на автобус та потяг онлайн</h1>
<div class="m-5" id="description">
    <div class="d-flex parent-question">
        <div class="question"></div>
        Як купити квиток?
    </div>
    <div class="d-flex justify-content-between flex-wrap">
        <div>
            <div class="station"></div>
            <div>1. Оберіть тип транспорту</div>
            <div>Виберіть вид транспорту із наявних<br /> (автобус або потяг) у верхньому меню</div>
        </div>
        <div>
            <div class="input_cities"></div>
            <div>2. Оберіть необхідний рейс</div>
            <div>Вкажіть міста відправлення та прибуття й дату.<br />Оберіть з переліку квитків зручний час</div>
        </div>
        <div>
            <div class="ticket"></div>
            <div>3. Купіть квиток</div>
            <div>Внесіть дані пасажира, і також пошту,<br /> на яку буде надіслано куплений квиток</div>
        </div>
        <div>
            <div class="done"></div>
            <div>4. Все готово!</div>
            <div>Куплений квиток буде надісланий Вам на пошту.<br /> Друк квитка НЕ є обов'язковим</div>
        </div>
    </div>
</div>
<h3 class="h3 text-center">Часті запитання</h3>
<div class=" d-flex justify-content-center flex-wrap often_questions">
    <div class="text-center">
        <div class="p-3 click">
            Квитки онлайн<span>+</span>
            <output>Квитки, які Ви отримуєте на пошту, це повноцінний проїзний документ, який дає право проїзду</output>
        </div>
        <div class="p-3 click">
            Перевіз багажу<span>+</span>
            <output>Пасажир має право перевозити з собою багаж вагою до 36 кг</output>
            </div>
        <div class="p-3 click">
            Документи необхідні для поїздки<span>+</span>
            <output>
                При покупці квитка: без документа, що підтверджує особистість.Посадка: з документом, що підтверджує особистість.<br />
                До таких документів відноситься:<br />
                - паспорт;<br />
                - закордонний паспорт;<br />
                - свідоцтво про народження (для дітей до 14 років);<br />
                - посвідчення водія;<br />
                - військовий квиток (під час служби);<br />
                - посвідчення біженця<br />
            </output>
            </div>
    </div>
    <div class="text-center">
        <div class="p-3 click">
            Електронний білет<span>+</span>
            <output>Це документ, який не потрібно обмінювати на касі. 
                З ним Ви можете підходити одразу до посадки</output>
        </div>
        <div class="p-3 click">
            Проїзд дітей<span>+</span>
            <output>При наявності більше 2-х дітей до 6-ти років на одного дорослого пасажира - 
                необхідно купувати білет на окреме місце.</output>
        </div>
        <div class="p-3 click">
            Перевезення тварин<span>+</span>
            <output>
                Собаки:<br />
                - перевезення тварини відбувається при наявності ветеринарного документа та електронної квитанції для перевезення тварини;<br />
                - собак малих порід необхідно перевозити в сумці;<br />
                - собак трупних порід (вище 45 см) потрібно перевозити в наморднику та з повідцем.  Коти:<br />
                - коти перевозяться в спеціальних ящиках, кошиках, клітках, тощо.<br />
                Один пасажир може перевозити тільки одну кішку.<br />
                Птахи:<br />
                - Декоративні кімнатні птахи (не більше двох осіб на одного пасажира).<br />
                Дозволяється перевезення в ящиках, кошиках, клітках (не більше одного місця ручної кладі).<br />
            </output>
        </div>
    </div>
</div>
