<h1 class="alert alert-success text-center" role="alert">Успішно!<br />Квитки були надіслані на вказану пошту<br />
    <a href="/Home/Index" type="button" class="btn btn-outline-success">На головну</a>
</h1>

